html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding: env(safe-area-inset);
}

body {
  font-size: 18px;
  background-color: var(--bg);
  /* background-image: url("../img/topography.svg"); */
  color: var(--text);
  line-height: 1.5;
  @apply transition-colors duration-200 ease-in-out;
}

p {
  padding: .5rem 0;
}
